<div class="box-header with-border">
    <h3 class="box-title"><span class="fa fa-users"></span> Sueca Game</h3>
</div>

<div class="box-body">
    <div class="row">
        <div class="col-xs-2">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-hand-stop-o"></i>

                    <h3 class="box-title">Trump Suit</h3>
                </div>
                <div class="box-body">
                    <div class="col-xs-12 center">
                        <img [src]="trumpSuit">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-hand-pointer-o"></i>

                    <h3 class="box-title">Table</h3>
                </div>
                <div class="box-body">
                    <div class="col-xs-12">
                        <div class="left" *ngFor="let card of roundTableCards">
                            <div class="box-body box-profile">
                                <img [src]="card.getImageName()">
                                <!--Em falta!-->
                                <img class="profile-user-img img-sm img-circle" [src]="myUser.avatar">
                                <!--<p class="text-center"> {{myUser.username}}</p>-->
                                <p class="text-center"> user</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-info"></i>

                    <h3 class="box-title">Information</h3>
                </div>
                <div class="box-body">
                    <div class="col-xs-12 center">
                        <!--Em falta!-->
                        <!--<b>Team A</b><div *ngFor="let user of teamA"> {{user.username}}</div>
                        <b>Team B</b><div *ngFor="let user of teamB"> {{user.username}}</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="box-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-arrow-right"></i>

                    <h3 class="box-title">{{myUser.username}} [Me]</h3>
                </div>
                <div class="box-body">
                    <div class="col-xs-12">
                        <div class="left" *ngFor="let card of myCards"><img [src]="card.getImageName()"
                                                                            (click)="playCard(card)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-arrow-right"></i>
                    <h3 class="box-title">Team</h3>
                </div>
                <div class="box-body">
                    <div class="col-xs-12">
                        <div class="left" *ngFor="let cardsBack of cardsBack"><img
                                src="../../../assets/img/cards/back.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-arrow-right"></i>

                    <h3 class="box-title">Opponent</h3>
                </div>
                <div class="box-body">
                    <div class="col-xs-12">
                        <div class="left" *ngFor="let cardsBack of cardsBack"><img
                                src="../../../assets/img/cards/back.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-arrow-right"></i>

                    <h3 class="box-title">Opponent</h3>
                </div>
                <div class="box-body">
                    <div class="col-xs-12">
                        <div class="left" *ngFor="let cardsBack of cardsBack"><img
                                src="../../../assets/img/cards/back.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<private-chat></private-chat>